<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>消去画面表示</title>
</head>
<body>
    <h1>消去画面</h1>
    <!-- 登録フォーム -->
    <form action="/micdel" method="post">
        <label for="month">月:</label>
        <input type="text" name="month" required>
        <br>
        <label for="day">日:</label>
        <input type="text" name="day" required>
        <br>
        <label for="todo">予定:</label>
        <input type="text" name="todo" required>
        <br>
        <button type="submit">消去</button>
    </form>
</body>
</html>
