<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
	text-align: center;
}

table {
	width: 70%;
	margin: 0 0 0 40px;
	float: left;
}

th:first-child, td:first-child, th:nth-child(2), td:nth-child(2) {
	width: 1%; /* Set to 1% to make it fit content */
	white-space: nowrap; /* Prevent text wrapping */
}

a {
	margin-bottom: 5px;
	text-decoration: none; /* 下線を削除 */
	color: black; /* 黒い文字色 */
	transition: color 0.3s; /* 色の変化をスムーズにするためのトランジション */
}

a:hover {
	color: orange; /* ホバー時の色 */
}
div{
float:right;
margin: 0 50px 0 0 ;
}

</style>
</head>
<body>
	<h1>【ToDoLIst】</h1>
	<h2 th:text="${userId}+'さんの予定です '"></h2>

		<table border="1">
			<thead>
				<tr>
					<th>月</th>
					<th>日</th>
					<th>ToDo</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="select: ${selectResult}">
					<tr>
						<td th:text="${select.month}"></td>
						<td th:text="${select.day}"></td>
						<td th:text="${select.todo}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>


		<div>

			<a th:href="@{/micadd}" th:text="新規リンク"></a><br> <a
				th:href="@{/micedit}" th:text="編集リンク"></a><br> <a
				th:href="@{/micdel}" th:text="削除リンク"></a><br>
				<a
				th:href="@{/miclogin}" th:text="ログアウト"></a>

		</div>
</body>
</html>
