<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>ログインページ</title>
</head>
<body>
	<main>
		<div class="row">
			<div class="col-4"></div>
				<div class="col-4">
					<form th:action="@{/miclogin}" method="POST">
						<div class="form-group border border-dark border-2 mt-2">
							<div class="m-3">
								<p th:text="${errormessageLF}" class="text-danger"></p>
								<label for="loginid">ログインID</label><br>
								<input type="text" name="micloginid" required><br>
								<label for="pw">パスワード</label><br>
								<input type="password" name="micpw" required><br>
								<button type="submit" class="btn btn-primary mt-2">ログイン</button>
							</div>
						</div>
					</form>
					<a th:href=@{micuser}>新規ユーザ登録</a>
				</div>
			<div class="col-4"></div>
		</div>
	</main>
</body>
</html>