<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<form th:action="@{/miclogin}" method="POST">


		<h1>ログイン画面</h1>
		<p>ID、パスワード16文字以下でご入力の上、「ログイン」ボタンをクリックしてください。</p>

		<div>
			<input type="text" name="micloginid" placeholder="IDを入力してください"><br>
			<input type="password" name="micpw" placeholder="パスワードを入力してください">
		</div>
		<button type="submit">ログイン</button>



	</form>
<a href="/micuser">ユーザー登録</a>

	<p th:text="${moji}"></p>
	<p th:text="${error}"></p>

</body>
</html>